/* custom syle sheet */
/*File name : app.css
  Author's name : Seol Cheon
  Web site name : COMP125-MIDTERM
  file description: a text file containin CSS code that is used for formatting content on webpage */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}